# Standard exclusions for common archive types and large binary files
*.zip
*.tgz
*.tar.gz
*.7z
*.tar
*.iso
*.jar
*.rar
*.dmg

#Executables and build output
*.com
*.class
*.dll
*.exe
*.o
*.so
*.ko

# Standard backup and log files
*.bak
*.log
*.tmp
~*
[Tt]emp
[Bbin]
[Rr]elease
[Dd]ebug
lib
Thumbs.db
*.DS_Store
*.DS_Store?
*.Trashes
Icon?
[Tt]humbs.db
*.sql

# Default latex entries for build files
*.aux
*.bbl
*.blg
*.log

# Standard matlab files that should be ignored
codegen
*.mex*
*.asv

# Misc database files that should be generated locally
cscope.out

# Junk files from gedit, vim, etc.
*.*.swp
*~
tags

#Pycharm
.idea

#QtCreator
*.creator.user
*.creator
